*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #000000;
    color: #666; 
    text-align: center;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}
audio{
width: 450px;
height: 54px;
margin: 30px 0;
}
.container{
    height: calc(100vh - 114px);
    overflow: hidden;
}
.container ul{
    transition: 0.6s;
}
.container ul li{
    height: 60px;
    line-height: 60px;
    transition: 0.2s;
    list-style: none;
}
.container li.active{
    color: #ffffff;
    transform: scale(1.2);
}